.header {
  display: flex;
  width: 360px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
}

.header img {
  width: 160px;
  height: 32px;
}

/* Notification Modal */
.notificationPopup {
  position: fixed;
  left: 100%;
  transition: left 0.5s;
  z-index: 999;
}

.notificationPopup.showNotification {
  left: 0;
}

.tune {
  display: flex;
  align-items: center;
  justify-content: right;
  border-bottom: 2px solid #D3D3D3;
  width: 360px;
  height: 42px;
  padding-right: 20px;
}

.active {
  fill: #FF9F4E;
  z-index: 100;
}

.contents {
  padding: 0 20px;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.contents::-webkit-scrollbar {
  display: none;
}

.contents {
  background-color: #F7F7F7;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}