@font-face {
  font-family: 'NotoSansKRRegular';
  src: url("./NotoSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansKRBold';
  src: url("./NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}